@charset "utf-8";
/* CSS Document */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 0; padding: 0; word-break: break-all; word-wrap: break-word; -webkit-text-size-adjust:100%;}
a { text-decoration: none; }
html { font-size: 100%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;}
body, button, input, select, textarea {font: 12px/1.5 tahoma, arial, \5b8b\4f53;}
input, select, textarea {font-size: 100%;}
table { border-collapse: collapse;border-spacing: 0;}
th { text-align: inherit;}
fieldset, img { border: 0;}
iframe { display: block;}
abbr, acronym { border: 0; font-variant: normal;}
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500;}
ol, ul { list-style: none; }
caption, th { text-align: left;}
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight: 500;}
.fl{ float:left;}
.fr{ float:right;}
.ovf{ overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{display:block; content:'.'; clear:both; line-height:0; visibility:hidden;}
.txt-l{ text-align:left;}
.txt-r{ text-align:right;}
.txt-c{ text-align:center;}
body{ background:#2d1e17;}
body,html{ height:100%; overflow:hidden;}
#wrapper{ position:absolute; height:100%; position:absolute; overflow-y:scroll; -webkit-overflow-scrolling: touch; -moz-overflow-scrolling: touch; top:0; left:0; bottom:0; right:0;}
/*内容开始*/
#wrapper,#wrap{ width:100%; max-width:640px; margin:0 auto; }
/*版权*/
div#footer{ width:100%; overflow:hidden; margin:0; padding:0; background:none;}
#footer.position{ position:absolute; left:0; bottom:0;}
#footer div{ width:100%; max-width:640px; margin:0 auto; background:#111; font-size:12px; text-align:center; color:#a0a1a1; padding:12px 0;}

/*快捷导航*/
#op-bg{ width:100%; background:rgba(0,0,0,0.9); position:fixed; top:0; left:0;bottom:0;right:0; z-index:98;display:none;}
#quick-nav {
    position: fixed;
    width: 94%;
    left: 3%;
    bottom: 10px;
    z-index: 99;
	overflow:hidden;
    background:url(1/images/column-repeat.png) repeat 0 0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
    background-size:50px 50px;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	opacity:0;
}
#quick-nav.close{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#quick-nav-btn {
    display: block;
    width: 44px;
    height: 44px;
    position: fixed;
    right: 4px;
    bottom: 4px;
    z-index: 100;
    background:#b97b3b;
    background-size: 21px 21px;
    border-radius: 22px;
	text-align:center;
	color:#fff;
	line-height:44px;
	font-size:16px;
}
/*菜单*/
.ind-column{ font-size:0; }
.ind-btn-group a { width:33.3333%; display:block; display:box; display:-webkit-box; display:-moz-box;-webkit-box-pack:center; 
-moz-box-pack:center; -webkit-box-align:center; -moz-box-align:center; height:85px; padding:0 0 10px; float:left; position:relative; border-right:1px solid #3b3128; border-bottom:1px solid #3b3128; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.ind-btn-group a:nth-of-type(3),.ind-btn-group a:nth-of-type(6),.ind-btn-group a:nth-of-type(9){ border-right:none; }
.ind-btn-group a:nth-of-type(10),.ind-btn-group a:nth-of-type(11){ border-bottom:none; }
.ind-btn-group a:active{ background:rgba(85,57,44,0.27); }
.ind-btn-group img { display: block; width:35px; height:35px; margin: 0 auto 6px;}
.ind-btn-group a:nth-of-type(1) img{ width:41px; height:40px;}
.ind-btn-group a:nth-of-type(2) img{ width:45px; height:42px;}
.ind-btn-group a:nth-of-type(3) img{ width:38px; height:34px;}
.ind-btn-group a:nth-of-type(4) img{ width:39px; height:38px;}
.ind-btn-group a:nth-of-type(5) img{ width:41px; height:40px;}
.ind-btn-group a:nth-of-type(6) img{ width:43px; height:40px;}
.ind-btn-group a:nth-of-type(7) img{ width:43px; height:40px;}
.ind-btn-group a:nth-of-type(8) img{ width:42px; height:36px;}
.ind-btn-group a:nth-of-type(9) img{ width:39px; height:38px;}
.ind-btn-group a:nth-of-type(10) img{ width:33px; height:34px;}
.ind-btn-group a:nth-of-type(11) img{ width:31px; height:31px;}
.ind-btn-group span { display:block; width:100%; text-align:center; color:#a8927b; font-size: 14px;position:absolute; left:0; bottom:10px; }
.ind-btn-group code { display: inline-block; padding:0 3px; background: #faeeb3; color: #9d5300; text-align: center; line-height: 20px; border-radius: 20px; position: absolute; right: 10px; top:10px; font-size:10px; border:1px solid #ffd200;}
#ind-btn-close{ display:block; padding:3px 0; text-align:center; font-size:18px; background:#fff;}
#ind-btn-close:active{ background:#f2f2f2; }