#wrapper.w-bg-color{background:#efefef;padding-bottom:55px;}
#pic-loop, #hotNews-loop {overflow: hidden;position: relative; width:100%;}
.pic-loop-box,.hotNews-loop-box{ display:block; display:-webkit-box; display:-ms-box; display:-moz-box; -webkit-backface-visibility:hidden; }
.pic-loop-box img { width: 100%; display: block; }
.pagination { position: absolute; width: 100%; left: 0; bottom: 4px; font-size: 0; text-align: left;text-indent:10px;}
.pagination span { display: inline-block; width: 4px; height: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background: #fff; margin-right: 4px;}
.pagination span.swiper-active-switch {width: 8px; height: 8px; -webkit-border-radius: 8px; -ms-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.pagination span:last-child { margin-right: 15px;}
.sp-details{background:#fff;padding:0 10px;text-align:left;height:100px;}
.sp-details-top{height:47px;border-bottom:1px solid #efefef;color:#383838;}
.sp-details-top-l{text-align:left;margin-top:6px;}
.sp-details-top-l p span{color:#ff6b2a;}
.sp-details-top b{font-weight:normal;margin-top:6px;}
.sp-details-bottom p{float:left; color:#505050;width:33%;text-align:left;line-height:24px;}
.sp-details-bottom p span.color{color:#ff5a00;}
.sp-details-main{border-bottom:1px solid #ededed;padding:0 10px;background:#fff;margin-top:10px;}
.sp-details-main h1{height:28px;border-bottom:1px solid #efefef;line-height:28px;text-align:left;font-size:16px;}
.sp-details-main h1 span{}
.sp-details-main p{font-size:14px;color:#505050;line-height:28px;text-align:left;padding:6px 0;}
.sp-details-main p b{display:block;color:#000;font-weight:normal;padding-top:24px;}

.sp-icon,.sp-icon img{width:15px;height:15px;display:inline-block;}
.ts-icon,.ts-icon img{width:11px;height:15px;display:inline-block;}
.dj-icon,.dj-icon img{width:20px;height:15px;display:inline-block;}
/*大家都在换*/
.djdzh .shop-box-text{margin-bottom:60px;}
.dj-title{margin-bottom:15px;}
.shop h4{text-align:left;font-size:16px;}
/*预定*/
.new-site{position:absolute;bottom:-45px;width:124px;height:35px;background:rgba(255,255,255,0.9);border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;left:50%;margin-left:-62px;line-height:35px;}
.new-site cite{width:7px;height:15px;margin:3px 13px 0 0;}
.new-site cite img{width:7px;height:15px;}