/*弹出框最外层*/
#promptWinContainer{
	background:#fff;
	font-size:12px;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#ff666666, Strength=5, Direction=135);
}
/*标题*/
#titleContainer{
	height:25px;line-height:25px;
	background:#CFD7EC url(../images/title_bg_left.gif) no-repeat top left;
}
#titleText{
	font-size:12px;font-weight:bold;
	color:#000;margin-left:5px;
}
#titleCtrl{
	padding:3px 3px 0px;height:25px;
	background:#CFD7EC url(../images/title_bg_right.gif) no-repeat right top;
}
#promptContent{
	background:#F4F4F4;
	border:0px;
}

#winMiddleLeft,#winBtnLineLeft{width:3px;font-size:3px;background:url(../images/win_l.gif) repeat-y;}
#winMiddleRight,#winBtnLineRight{width:3px;font-size:3px;background:url(../images/win_r.gif) right repeat-y;}
#winBottomCenter{height:3px;font-size:3px;background:url(../images/win_b.gif) repeat-x;}
#winBottomLeft{width:3px;font-size:3px;height:3px;background:url(../images/win_lb.gif) repeat-x;}
#winBottomRight{width:3px;font-size:3px;height:3px;background:url(../images/win_rb.gif) no-repeat;}

#winMiddleCenter{
	font-size:12px;
	padding:10px 0px;
	padding-left:90px;	/*此处数值要大于提示图标的大小，否则会显示很难看*/
}

/*取消确认按钮样式*/
input.btnStyle{
	background:url(../images/btn_bg.gif) no-repeat;
	width:80px;height:21px;line-height:21px;
	font-size:12px;color:#000;border:0;
}