@charset "utf-8";
/* CSS Document */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color:#333; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
audio, canvas, video { display: inline-block;*display: inline;*zoom: 1;}
body, button, input, select, textarea { font:12px/1.5 arial, \5FAE\8F6F\96C5\9ED1, \5b8b\4f53, helvetica, sans-serif; outline:none; }
input, select, textarea {font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
th {text-align: inherit;}
fieldset, img {border: 0;}
iframe {display: block;}
abbr, acronym {border: 0;font-variant: normal;}
del {text-decoration: line-through;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: 500;}
ol, ul {list-style: none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: 500;}
q:before, q:after {content: '';}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
a{ outline:none; color:#333; }
a:link {color: #333; text-decoration:none;}
a:visited { color: #333}
a:hover { color:#f35050; text-decoration: underline;}
ins{text-decoration: none;}
code, kbd, pre, samp {font-family: monospace, serif; font-size: 1em;}
/*公共样式*/
.fn-ma{ margin-left:auto; margin-right:auto;}
.fn-ovf{ overflow:hidden;}
.fn-db{ display:inline-block; *display:inline; *zoom:1;}
/*清除浮动*/
.fn-clear:after {visibility: hidden;display: block;font-size:0;content:" ";clear: both; height:0;}
.fn-clear { zoom: 1;}
/*隐藏*/
.fn-hide { display: none;}
/*左浮动*/
.fn-left { float: left;}
/*右浮动*/
.fn-right { float: right;}
/*居中*/
.fn-center{text-align:center;}
/*字数截取显示...*/
.fn-text-ovf{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*styles*/
body,html,#wrapper{ width:100%; height:100%; overflow:hidden; }
@media screen and (min-width:320px){html{font-size:43px}}
@media screen and (min-width:360px){html{font-size:48px}}
@media screen and (min-width:375px){html{font-size:50px}}
@media screen and (min-width:384px){html{font-size:51px}}
@media screen and (min-width:400px){html{font-size:53px}}
@media screen and (min-width:414px){html{font-size:55px}}
@media screen and (min-width:424px){html{font-size:57px}}
@media screen and (min-width:480px){html{font-size:64px}}
@media screen and (min-width:540px){html{font-size:72px}}
@media screen and (min-width:600px){html{font-size:80px}}
@media screen and (min-width:640px){html{ font-size:85px}}
@media screen and (min-width:750px){html{ font-size:100px}}
.tab-view{ width:100%; height:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-shadow: 0 0 4px #000; -moz-box-shadow: 0 0 4px #000; box-shadow: 0 0 4px #000;}
.tab-menu{ width:100%; height:.6rem; position:relative; border-bottom: solid 1px #2c2c2c; }
.tab-menu p{ padding-left:.2rem; position:absolute; left:0; top:0; font-size:0; z-index:99; }
.tab-menu span{ display:inline-block; margin-right:.4rem; height:.58rem; line-height:.58rem; font-size:.3rem; text-align:center; color:#9b9b9b; }
.tab-menu span.js-on{ border-bottom:2px solid #fff; color:#fff; }
.tab-wrap{ width:100%; }
.tab-box{ display:none; }
.tab-box.js-show{ display:block; }
.tab-box ul { width:100%; font-size:0;}
.tab-box ul li { width:33.33333%; display:inline-block; overflow:hidden; padding-top:.11rem; font-weight:normal;}
.tab-box ul li:nth-child(3n){ text-align:right; }
.tab-box ul li:nth-child(2),.tab-box ul li:nth-child(5){ text-align:center; }
.tab-box ul li:nth-child(3n){ text-align:right; }
.tab-box ul li:nth-child(3n){ text-align:right; }
.tab-box ul li span{ display:inline-block; width:2.42rem; height:1.3rem; position:relative; font-size:0; overflow:hidden;}
.tab-box ul li span i{ display:block; width:100%; height:100%; }
.tab-box ul li span img{ width:2.42rem; height:1.3rem; position:relative; z-index:2; }

.tab-box ul li span:after{ content:''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: -webkit-gradient(linear, center bottom, center top, from(rgba(0, 0, 0,.8)), to(rgba(0, 0, 0, 0))); z-index:9; }
.tab-box ul li span font{ width:100%; position:absolute; left:0; bottom:0; font-size:.2rem; color:#fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding:.04rem .1rem; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; text-align:left; z-index:10; font-weight:normal; }
.tab-box ul li span video{ visibility:hidden; width:0; height:0; font-size:0; overflow:hidden; }
.tab-box p{ text-align:center; }
.tab-box p a{ line-height:.8rem; font-size:.24rem; color:#fff; }
.not-info{ text-align:center; line-height:3rem; font-size:.24rem; color:#fff; }









