<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>The Tools WebSite</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/root-context.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter>-->
        <!--<filter-name>check privilege Filter</filter-name>-->
        <!--<filter-class>-->
            <!--com.enjoyf.webapps.tools.weblogic.privilege.CheckPrivilegeFilter-->
        <!--</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>sessionOutURL</param-name>-->
            <!--<param-value>/loginpage</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>noPrivilegeURL</param-name>-->
            <!--<param-value>/view/jsp/privilege/common/noPrivilege.jsp</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>exceptFloder</param-name>-->
            <!--<param-value>/static#/shake</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>exceptFiles</param-name>-->
            <!--<param-value>-->
                <!--#/favicon.ico#/home/main#/home/left#/loginpage#/login#/logout#/view/jsp/login.jsp#/view/jsp/left.jsp#/view/jsp/common/404.jsp#/view/jsp/common/500.jsp#/view/jsp/privilege/common/noPrivilege.jsp#/log/addlog-->
            <!--</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>enable</param-name>-->
            <!--<param-value>true</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>check privilege Filter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->


    <servlet>
        <servlet-name>spring3mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring3mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>

    <!-- 出错页面定义 -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/view/jsp/common/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/view/jsp/common/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/jsp/common/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/view/jsp/common/403.jsp</location>
    </error-page>

    <jsp-config>
        <taglib>
            <taglib-uri>/ip</taglib-uri>
            <taglib-location>/WEB-INF/tags/ipconvert.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
